﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mt {
    margin-top: 10px !important;
}
.ml {
    margin-left: 20px !important;
}
/*chart style*/
.highcharts-point {
    stroke: white;
}

.main-color .highcharts-graph {
    stroke: red;
}
.main-color, .main-color .highcharts-point {
    fill: red;
}
.highcharts-graph.highcharts-negative {
    stroke: blue;
}
.highcharts-area.highcharts-negative {
    fill: blue;
}
.highcharts-point.highcharts-negative {
    fill: blue;
}
