﻿@model TestMarketingSystem.Models.SyllabusLanguage


<div ng-app="app" ng-controller="SyllabusController as vm">
    <div class="container">
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.selectListTab()">List</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.selectCreateTab()">Create</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.selectChart()">Chart</button>


        <div ng-show="vm.isChartVisible">
            <div id="chart-container"></div>
        </div>

        <div ng-show="vm.isListActive">
            <h2>list</h2>
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2">Trade</label>
                            <select class="form-control col-md-10" ng-model="vm.selectedTrade" name="tradeName" required>
                                <option value="" disabled>Select Trade</option>
                                <option ng-repeat="item in vm.trades" value="{{item.TradeId}}">{{item.TradeName}}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2">Level</label>
                            <select class="form-control col-md-10" ng-model="vm.selectedLevel" name="levelName" required>
                                <option value="" disabled>Select Level</option>
                                <option ng-repeat="item in vm.levels" value="{{item.LevelId}}">{{item.LevelName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <button type="button" ng-click="vm.searchSyllabus(vm.selectedLevel,vm.selectedTrade)" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Syllabus</th>
                            <th>Trade</th>
                            <th>Level</th>
                            <th>Uploaded syllabus</th>
                            <th>Uploaded test plan</th>
                            <th>Languages</th>
                            <th>Uploaded By</th>
                            <th>Uploaded Date</th>
                            <th>Active Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="syllabus in vm.syllabusList">
                            <td><button type="button" ng-click="vm.editSyllabus(syllabus.Syllabus.SyllabusId)">EDIT</button></td>
                            <td>{{syllabus.Syllabus.SyllabusName}}</td>
                            <td>{{syllabus.TradeName}}</td>
                            <td>{{syllabus.LevelName}}</td>
                            <td><a href="{{syllabus.SyllabusfilePath}}">{{syllabus.Syllabus.SyllabusDocUrl}}</a></td>
                            <td><a href="{{syllabus.TestFilePath}}">{{syllabus.Syllabus.TestPlanUrl}}</a></td>
                            <td>{{syllabus.ShortNames}}</td>
                            <td>{{syllabus.Syllabus.UploadBy}}</td>
                            <td>{{syllabus.Syllabus.UploadDate | date:'dd-MM-yyyy' }}</td>
                            <td>{{syllabus.Syllabus.ActiveDate | date:'dd-MM-yyyy' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="vm.isCreateActive">
            <div class="panel panel-primary">
                <form name="syllabusForm" novalidate enctype="multipart/form-data">
                    <div class="form-group alert alert-info" ng-show="vm.savedSuccessfully">
                        <h4 class="text-success">Your syllabus is created successfully</h4>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Trade</label>
                        <select class="form-control col-md-10" ng-model="vm.selectedTrade" name="tradeName" required>
                            <option value="" disabled>Select Trade</option>
                            <option ng-repeat="item in vm.trades" ng-selected="item.TradeId==vm.selectedTrade" value="{{item.TradeId}}">{{item.TradeName}}</option>
                        </select>
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.tradeName.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.tradeName.$error.required">Trade is required</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Level</label>
                        <select class="form-control col-md-10" ng-model="vm.selectedLevel" name="levelName" required>
                            <option value="" disabled>Select Level</option>
                            <option ng-repeat="item in vm.levels" ng-selected="item.LevelId==vm.selectedLevel" value="{{item.LevelId}}">{{item.LevelName}}</option>
                        </select>
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.levelName.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.levelName.$error.required">Level is required</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group mt col-md-12">
                        <label class="control-label col-md-2">Languages :</label>
                        <div ng-repeat="lang in vm.languages" class="col-md-10">
                            <label>
                                <input id="{{lang.LanguageId}}" type="checkbox" value="{{lang.LanguageId}}" ng-checked="vm.selectedLanguageLists.indexOf(lang.LanguageId) > -1" ng-click="vm.toggleSelection(lang.LanguageId)" />
                                <span>{{lang.LanguageName}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Syllabus Name: </label>
                        <input ng-model="vm.syllabusVm.Syllabus.SyllabusName" id="syllabusName" name="syllabusName" required ng-maxlength="50" type="text" class="form-control col-md-10" />
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.syllabusName.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.syllabusName.$error.required">Syllabus name is required</p>
                            <p class="text-danger" ng-show="!syllabusForm.syllabusName.$valid && !syllabusForm.syllabusName.$error.required">Syllabus name exceeds 50 characters</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Upload Syllabus: </label>
                        <input type="file" id="syllabusFile" name="syllabusFile"valid-file ng-model="vm.syllabusVm.Syllabus.SyllabusDocUrl" class="form-control col-md-4" required />
                        <span ng-show="vm.isUpdateVisible" class="btn btn-primary">{{vm.syllabusVm.Syllabus.SyllabusDocUrl}}</span>
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.syllabusFile.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.syllabusFile.$error.required">Please upload a syllabus</p>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Upload Test Plan: </label>
                        <input type="file" id="testPlanFile" name="testPlanFile" valid-file ng-model="vm.syllabusVm.Syllabus.TestPlanUrl" class="form-control col-md-4" required />
                        <span ng-show="vm.isUpdateVisible" class="btn btn-primary">{{vm.syllabusVm.Syllabus.TestPlanUrl}}</span>
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.testPlanFile.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.testPlanFile.$error.required">Please upload a test plan</p>
                           
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Development Officer: </label>
                        <input type="text" ng-model="vm.syllabusVm.Syllabus.DevelopmentOfficer" name="officer" class="form-control col-md-10" required ng-maxlength="100" />
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.officer.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.officer.$error.required">Development officer is required</p>
                            <p class="text-danger" ng-show="!syllabusForm.officer.$valid && !syllabusForm.officer.$error.required">Development officer exceeds 100 characters</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Manager: </label>
                        <input type="text" ng-model="vm.syllabusVm.Syllabus.Manager" name="manager" class="form-control col-md-10" required ng-maxlength="100" />
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.manager.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.manager.$error.required">Manager is required</p>
                            <p class="text-danger" ng-show="!syllabusForm.manager.$valid && !syllabusForm.manager.$error.required">Manager exceeds 100 characters</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Active Date: </label>
                        <input type="date" name="activeDate" ng-model="vm.syllabusVm.Syllabus.ActiveDate" min="01-01-1900" max="31-12-2099" class="form-control col-md-10" required />
                        <div class="row" ng-if="syllabusForm.$submitted || syllabusForm.activeDate.$dirty">
                            <p class="text-danger" ng-show="syllabusForm.activeDate.$error.required">Select a date is required</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <input type="hidden" ng-model="vm.syllabusVm.Syllabus.SyllabusId"/>
                        <button type="button" class="btn btn-primary btn-sm" ng-show="vm.isSaveVisible" ng-disabled="vm.isSaveDisabled" ng-click="vm.createSyllabus(syllabusForm)">Save</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-show="vm.isUpdateVisible" ng-disabled="vm.isUpdateDisabled" ng-click="vm.updateSyllabus(syllabusForm,vm.syllabusVm.Syllabus.SyllabusId)">Update</button>
                        
                        <button type="button" class="btn btn-default btn-sm" ng-show="vm.isSaveVisible" ng-click="vm.resetVm(syllabusForm)">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>